<div class="sign-in-form">
    <img src="./assets/logo_c2.png" width="300">
    <h4>Set password</h4>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div *ngIf="code">
        <form #setPassForm="ngForm" (ngSubmit)="onSubmit(setPassForm)" novalidate>
            <span style="font-size: 0.8em">Enter your new password. {{cp.ruleText}}</span>
            <div class="input-group input-group-sm">
                <span class="input-group-addon light-addon">
                    <span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="username" disabled [(ngModel)]="cp.username"/>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon light-addon"  [class.error-addon]="password1.invalid && password1.touched" [class.light-addon-hasfocus]="inputFocus['1']">
                  <span class="glyphicon glyphicon-lock"></span></span>
              <input 
                (focus)="InputSetFocus('1',true)"
                (focusout)="InputSetFocus('1',false)"
                class="form-control" 
                [class.alert-danger]="password1.invalid && password1.touched"
                name="password1" 
                type="password"
                [(ngModel)]="cp.password1"
                required placeholder="Password" 
                ngModel="password1" [disabled]="!cp.username"
                #password1="ngModel" />     
            </div>
            <div [hidden]="password1.valid || password1.untouched" class="text-danger input-error-text">
                <strong>Password is required.</strong>
              </div>
            <div class="input-group input-group-sm">     
                <span class="input-group-addon light-addon" [class.error-addon]="password2.invalid && password2.touched"  [class.light-addon-hasfocus]="inputFocus['2']">
                  <span class="glyphicon glyphicon-lock"></span></span>
        
              <input 
                (focus)="InputSetFocus('2',true)"
                (focusout)="InputSetFocus('2',false)"
                class="form-control"
                [class.error-addon]="password2.invalid && password2.touched" 
                name="password2" 
                type="password"
                [(ngModel)]="cp.password2" [disabled]="!cp.username"
                required ngModel="password2" placeholder="Repeat password"
                #password2="ngModel" />
            </div>
            <div [hidden]="password2.valid || password2.pristine" class="text-danger input-error-text" >
                <strong>Password is required.</strong>
            </div>
            
           <!--  <div *ngIf="errorMessage" class="alert text-danger">
               <strong> {{ errorMessage }}</strong>
              </div> -->
              <div >
                  <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!cp.username">Update</button>
                </div>
              
          </form>
    </div>
    <app-block-ui ></app-block-ui>
    
  </div>
  