<!-- <ng-template #inputUser [(user)]="user">
    <h1>Template</h1>
 </ng-template> -->

<simple-notifications [options]="toastOptions"></simple-notifications>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="container-fluid" style="height: 100%">

  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>
  <div class="row admin-row">
    <div class="col-sm-12">
      <button class="btn btn-default" (click)="addNew()" [disabled]="editMode != editModes.NoEdit">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i> Add new
      </button>
    </div>
  </div>
  <div class="col-sm-12">
   
  </div>
  <div class="row" style="height: 100%">
    <div class="col-sm-12" style="height: 100%">
        <app-grid [definition]="gridDefinition" [data]="model.users" [css]="'table table-striped'" (ButtonClicked)="gridButtonClicked($event)"
        [editMode]="editMode" [editedRow]="userCopy" (SortChange)="onSortChanged($event)"></app-grid>
        
    </div>

  </div>
  <!--<ng-template #editRow>Please Edit</ng-template>-->



</div>
<app-block-ui></app-block-ui>