<div class="center-vertical" >
  <div class="center-content row">
    <div class="col-sm-3 center-margin">
      <div class="panel-layout">
        <div class="panel-content">
            <div class="meta-box meta-box-offset">
              <img src="assets/cros.png" class="meta-image img-bordered img-circle">
              <h3 class="meta-heading font-size-16">John Doe</h3>
              <h4 class="meta-subheading font-size-13 font-gray">Ultimate C2 company</h4>
            </div>
            <form action="" class="form-inline" method="">
                <div class="content-box-wrapper pad20A">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input type="text" placeholder="Password" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" (click)="unlock(false)" type="button"><i class="fa fa-unlock"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
