
<div class="row">
        <div>
                <a [routerLink]="['/c2']"> <img src="/assets/logo_c2.png" alt="C2 logo" ></a>
             </div>
<div class="row title">

    <div class="col-sm-7">
        <!-- !screenService.isLarge() -->
        <a [routerLink]="['/c2']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-primary pull-left btn-home">
            <i class="glyphicon glyphicon-home"></i>
        </a>
        <div *ngIf="true" class="btn btn-primary pull-left btn-hamburger hidden-xs hidden-sm"
         (click)="menuService.toggleLeftSideMenu()">
            <span 
            
            class="glyphicon glyphicon-menu-hamburger"
            ></span>
            <!-- [class.small-screen-navbtn]="menuService.showingLeftSideMenu && !screenService.isLarge()" -->
        </div>
      <h2 class="h4 pull-right">&nbsp;{{headerService.title}}</h2>
     
    </div>
    <div class="col-xs-12 col-sm-5">
            <div class="h5 pull-right" style="margin-top:13px;margin-right:60px">
                    <div class="btn btn-primary btn-xs" (click)="signOut()">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out
                    </div>
                </div>
      <div class="h5 pull-right" style="margin-top:15px;" >
        <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; {{logged.name}} {{logged.lastname}}
      </div>
      
    </div>
  </div>

